<div class="w-full">
    <div class="bg-blueGray-800">
       <div class="p-0 flex items-center overflow-hidden relative min-h-screen max-h-999-px">
          <div class="container mx-auto px-4">
             <div class="flex flex-wrap -mx-4 items-center">
                <div class="px-4 relative w-full w-full md:w-6/12">
                   <h4 class="text-3xl font-bold mt-0 mb-12 pl-4 text-white">Build stunning websites and apps</h4>
                   <div class="rounded text-left p-6 flex items-start">
                      <div class="bg-white rounded-full justify-center items-center inline-flex text-center w-12 h-12 text-blueGray-700"><i class="fas fa-place-of-worship"></i></div>
                      <div class="ml-6 flex-1">
                         <h4 class="text-white text-2xl font-semibold leading-tight mt-2 mb-2">Connect with founders</h4>
                         <p class="text-white opacity-60">As we live, our hearts turn colder. Cause pain is what we go through as we become older and we get insulted</p>
                      </div>
                   </div>
                   <div class="rounded text-left p-6 flex items-start">
                      <div class="bg-white rounded-full justify-center items-center inline-flex text-center w-12 h-12 text-blueGray-700"><i class="fas fa-trophy"></i></div>
                      <div class="ml-6 flex-1">
                         <h4 class="text-white text-2xl font-semibold leading-tight mt-2 mb-2">Learn from experts</h4>
                         <p class="text-white opacity-60">We get back stabbed by friends. It becomes harder for us to give others a hand. We get our heart broken by people we love.</p>
                      </div>
                   </div>
                   <div class="rounded text-left p-6 flex items-start">
                      <div class="bg-white rounded-full justify-center items-center inline-flex text-center w-12 h-12 text-blueGray-700"><i class="fas fa-scroll"></i></div>
                      <div class="ml-6 flex-1">
                         <h4 class="text-white text-2xl font-semibold leading-tight mt-2 mb-2">Get practical advice</h4>
                         <p class="text-white opacity-60">When we lose family over time. What else could rust the heart more over time? Blackgold. It becomes harder...</p>
                      </div>
                   </div>
                </div>
                <div class="px-4 relative w-full w-full md:w-6/12">
                   <div class="w-full">
                      <div class="flex justify-center w-full">
                         <div class="w-full transform duration-500 transition-all ease-in-out mx-auto block"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/sofia-kuniakina.d748127a.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                         <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/sacha-styles.b70fcf79.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                         <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/victor-garcia.517e6e46.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                         <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/doyoun-seo.626bcf05.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                         <div class="w-full transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/ayo-ogunseinde.171c7cb2.jpg" class="h-auto mx-auto rounded-lg shadow-xl w-450-px"></div>
                      </div>
                      <div class="flex justify-center mt-6"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-blueGray-800 bg-white border-white active:bg-blueGray-100 active:border-blueGray-100 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-chevron-left"></i></button><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-blueGray-800 bg-white border-white active:bg-blueGray-100 active:border-blueGray-100 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-chevron-right"></i></button></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>