
<div class="relative bg-blueGray-50">
    <div class="container mx-auto px-4 pt-20">
        <section>
            <h2 class="px-4 text-3xl font-bold leading-tight mt-8 mb-2" id="error-id">Error</h2>
            <p class="px-4 w-full lg:w-7/12 text-lg text-blueGray-500 leading-relaxed mt-2 mb-4">Sometimes when you try to visit a web page, you're met with an HTTP error message. It's a message from the web server that something went wrong. In some cases it could be a mistake you made, but often, it's the site's fault.</p>
            <div>
                <hr class="my-6 border-blueGray-200">
                <div class="flex flex-wrap">
                   
                   {% include main-page/components/error/examples.html %}

                </div>
             </div>

        </section>
    </div>
</div>