<div class="w-full">
    <section class="relative py-12">
       <div class="container mx-auto px-4">
          <div class="flex flex-wrap -mx-4">
             <div class="mx-auto px-4 relative w-full md:w-6/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full p-5 shadow-lg">
                   <div class="bg-transparent first:rounded-t pb-4">
                      <h3 class="text-xl font-bold">What people say...</h3>
                   </div>
                   <div class="flex items-center bg-transparent py-3 border-t border-blueGray-200">
                      <div class="flex items-center my-2">
                         <div class="flex items-start">
                            <img src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg" class="rounded-full mr-3 w-10 h-10 shadow" alt="...">
                            <div class="flex-1">
                               <div class="justify-between items-center">
                                  <h5 class="mb-0 text-sm font-bold uppercase">John Snow</h5>
                                  <small class="text-sm text-blueGray-400 mt-0">3 days ago</small>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="ml-auto text-right"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-xs px-3 py-2 shadow hover:shadow-md rounded-md">Follow</button></div>
                   </div>
                   <div class="flex-auto">
                      <p class="mb-6 text-blueGray-500 leading-relaxed">Personal profiles are the perfect way for you to grab their attention and persuade recruiters to continue reading your CV because you’re telling them from the off exactly why they should hire you.</p>
                      <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/new-york-city.d7a444b7.jpg" class="max-w-full h-auto rounded-lg">
                      <div class="items-center my-6 pb-6 border-b flex flex-wrap">
                         <div class="px-4 relative w-full sm:w-6/12">
                            <div><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-thumbs-up mr-1"></i><span class="text-blueGray-500">150</span></a><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-comment mr-1"></i><span class="text-blueGray-500">36</span></a><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-share mr-1"></i><span class="text-blueGray-500">12</span></a></div>
                         </div>
                         <div class="sm:flex hidden px-4 relative w-full sm:w-6/12 sm:justify-end">
                            <div class="flex items-center">
                               <div>
                                  <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-6 h-6" href="#pablo">
                                     <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg">
                                     <div class="hidden ">
                                        <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                           <div class="py-1 px-2 text-center rounded text-white bg-black">Ray Tompson</div>
                                        </div>
                                     </div>
                                  </a>
                                  <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-6 h-6" href="#pablo">
                                     <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-2.b81557ef.jpg">
                                     <div class="hidden ">
                                        <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                           <div class="py-1 px-2 text-center rounded text-white bg-black">Romina Hadid</div>
                                        </div>
                                     </div>
                                  </a>
                                  <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-6 h-6" href="#pablo">
                                     <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-3.c5d0c11c.jpg">
                                     <div class="hidden ">
                                        <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                           <div class="py-1 px-2 text-center rounded text-white bg-black">Alexander Smith</div>
                                        </div>
                                     </div>
                                  </a>
                               </div>
                               <small class="pl-2 font-bold mb-1">and 30+ more</small>
                            </div>
                         </div>
                      </div>
                      <div class="flex justify-center"><a href="#pablo" class="text-blueGray-500 text-sm hover:text-blueGray-700">Load previous</a></div>
                      <div class="mt-2 flex items-start group border-b border-blueGray-200">
                         <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg" class="relative rounded-full w-10 h-10 mt-3">
                         <div class="flex-1 relative">
                            <div class="p-5">
                               <h5 class="text-lg font-bold mt-0 mb-2">Michael Lewis</h5>
                               <p class="mb-4 text-blueGray-500">You have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.</p>
                               <div><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-thumbs-up"></i><span class="text-blueGray-500"> 3 likes </span></a><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-share"></i><span class="text-blueGray-500"> 2 shares </span></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="mt-2 flex items-start group border-b border-blueGray-200">
                         <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/team-2.b81557ef.jpg" class="relative rounded-full w-10 h-10 mt-3">
                         <div class="flex-1 relative">
                            <div class="p-5">
                               <h5 class="text-lg font-bold mt-0 mb-2">Jessica Stones</h5>
                               <p class="mb-4 text-blueGray-500">I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down.</p>
                               <div><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-thumbs-up"></i><span class="text-blueGray-500"> 10 likes </span></a><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-share"></i><span class="text-blueGray-500"> 1 shares </span></a></div>
                            </div>
                         </div>
                      </div>
                      <div class="flex justify-center mt-4"><a href="#pablo" class="text-blueGray-500 text-sm hover:text-blueGray-700">Load next</a></div>
                      <div class="items-center flex items-start">
                         <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/team-3.c5d0c11c.jpg" class="mr-4 rounded-full w-10 h-10">
                         <div class="flex-1 mt-6">
                            <form>
                               <div class="mb-3 pt-0"><textarea rows="1" placeholder="Write your comment" type="textarea" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></textarea></div>
                            </form>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>