<div class="w-full">
    <div class="justify-end text-right flex flex-wrap -mx-4">
       <a href="#pablo">
          <div class="px-4 relative w-auto">
             <div class="relative flex px-4 py-2 my-4 break-words shadow-lg rounded-lg bg-lightBlue-500 text-white">
                <div class="">
                   <p class="mb-1 text-lg leading-relaxed">Awesome, blog is important source material for anyone who creates apps?</p>
                   <p class="mb-1 text-lg leading-relaxed">Because these blogs offer a lot of information about website development.</p>
                   <p class="block uppercase font-semibold opacity-75 text-sm"><span class="mr-2">4:46am</span><i class="fas fa-check"></i></p>
                </div>
             </div>
          </div>
       </a>
    </div>
 </div>