<div class="w-full">
    <div class="mx-4 rounded-md relative block my-1 bg-lightBlue-500 text-white">
       <a href="#pablo">
          <div class="flex items-center p-3">
             <img src="https://demos.creative-tim.com/notus-pro-react/static/media/christian.5e3b567c.jpg" class="rounded-full max-w-40-px" alt="...">
             <div class="flex-1">
                <div class="justify-between items-center">
                   <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Charlie Watson</h6>
                   <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-200">Online<span class="p-1 mt-2 ml-2 text-xs font-semibold inline-block uppercase last:mr-0 mr-1 p-1 rounded bg-emerald-400"></span></p>
                   <div class="pl-3"><span class="block truncate text-blueGray-100">Typing...</span></div>
                </div>
             </div>
          </div>
       </a>
    </div>
 </div>