<div class="w-full">
    <div class="mt-2 flex items-start group border-b border-blueGray-200">
       <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg" class="relative rounded-full w-10 h-10 mt-3">
       <div class="flex-1 relative">
          <div class="p-5">
             <h5 class="text-lg font-bold mt-0 mb-2">Michael Lewis</h5>
             <p class="mb-4 text-blueGray-500">You have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.</p>
             <div><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-thumbs-up"></i><span class="text-blueGray-500"> 3 likes </span></a><a href="#pablo" class="inline-block mr-3 text-blueGray-400 font-semibold text-sm"><i class="fas fa-share"></i><span class="text-blueGray-500"> 2 shares </span></a></div>
          </div>
       </div>
    </div>
 </div>