<div class="w-full md:w-1/2">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100">
       <div class="rounded-t-lg bg-blueGray-800 mb-0 px-6 py-6">
          <div class="text-center mb-3">
             <h6 class="text-blueGray-300 text-sm font-bold">Signup with</h6>
          </div>
          <div class="text-center"><a href="#pablo" class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-twitter-regular border-twitter-regular active:bg-twitter-active active:border-twitter-active text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="mr-1 fab fa-twitter"></i> twitter</a><a href="#pablo" class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-facebook-regular border-facebook-regular active:bg-facebook-active active:border-facebook-active text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="mr-1 fab fa-facebook"></i> facebook</a></div>
       </div>
       <div class="flex-auto px-4 lg:px-10 py-6">
          <div class="text-blueGray-500 text-center mb-3 font-bold"><small>Or Register with credentials</small></div>
          <form>
             <div class="relative w-full">
                <label class="block uppercase text-blueGray-700 text-xs font-bold mb-2 ml-1">Email</label>
                <div class="mb-3 pt-0"><input placeholder="Email" type="email" class="border-transparent shadow px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
             </div>
             <div class="relative w-full">
                <label class="block uppercase text-blueGray-700 text-xs font-bold mb-2 ml-1">Password</label>
                <div class="mb-3 pt-0"><input placeholder="Password" type="password" class="border-transparent shadow px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
             </div>
             <div class="relative w-full">
                <label class="block uppercase text-blueGray-700 text-xs font-bold mb-2 ml-1">Password Confirmation</label>
                <div class="mb-3 pt-0"><input placeholder="Password again" type="password" class="border-transparent shadow px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
             </div>
             <div class="mt-2 inline-block"><label class="inline-flex items-center cursor-pointer"><input type="checkbox" class="form-checkbox appearance-none ml-1 w-5 h-5 ease-linear transition-all duration-150 border border-blueGray-300 rounded checked:bg-blueGray-700 checked:border-blueGray-700 focus:border-blueGray-300"><span class="ml-2 text-sm font-semibold text-blueGray-500">Subscribe to Newsletter</span></label></div>
             <div class="text-center mt-6"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-blueGray-800 border-blueGray-800 active:bg-blueGray-900 active:border-blueGray-900 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Register</button></div>
          </form>
       </div>
    </div>
 </div>