<div class="w-full">
    <section class="relative py-12">
       <div class="container mx-auto px-4">
          <div class="mb-12 flex flex-wrap -mx-4 justify-start">
             <div class="px-4 relative w-full lg:w-8/12 text-left">
                <span class="text-pink-500 bg-pink-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Have you seen us?</span>
                <h3 class="text-3xl font-bold mt-3 mb-1 text-blueGray-700">Our recent products</h3>
                <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-500">The time is now for it to be okay to be great. People in this world shun people for being great.</p>
             </div>
          </div>
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
                   <div class="p-6"><img alt="..." src="/assets/img/ecommerce-1.jpg" class="w-full"></div>
                   <div class="px-6 pb-6 flex-auto">
                      <h6 class="text-red-500 font-bold uppercase text-sm mb-2"><i class="fas fa-calendar-check mr-1 opacity-75"></i> Wearing</h6>
                      <h4 class="text-2xl font-semibold leading-tight mt-0 mb-2 my-4"><a href="#pablo" class="">Check our latest collection</a></h4>
                      <p class="text-blueGray-500 leading-relaxed">Yesterday, this was an essential fabric and its news reader app Paper. It is design-focused wool called out...</p>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
                   <div class="p-6"><img alt="..." src="/assets/img/p2.png" class="w-full"></div>
                   <div class="px-6 pb-6 flex-auto">
                      <h6 class="text-red-500 font-bold uppercase text-sm mb-2"><i class="fas fa-calendar-check mr-1 opacity-75"></i> Fashion</h6>
                      <h4 class="text-2xl font-semibold leading-tight mt-0 mb-2 my-4"><a href="#pablo" class="">Wardrobe essentials</a></h4>
                      <p class="text-blueGray-500 leading-relaxed">Argon is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
                   <div class="p-6"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/linth3.41699b02.svg" class="w-full"></div>
                   <div class="px-6 pb-6 flex-auto">
                      <h6 class="text-red-500 font-bold uppercase text-sm mb-2"><i class="fas fa-calendar-check mr-1 opacity-75"></i> Fashion</h6>
                      <h4 class="text-2xl font-semibold leading-tight mt-0 mb-2 my-4"><a href="#pablo" class="">Wardrobe essentials</a></h4>
                      <p class="text-blueGray-500 leading-relaxed">Trends may come and go, but wardrobe essentials are here to stay. Basic pieces tend to be universal across.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>