<div class="w-full">
    <section class="relative py-12">
       <div class="container mx-auto px-4">
          <div class="mb-12">
             <div class="flex flex-wrap -mx-4 justify-start">
                <div class="px-4 relative w-full text-left">
                   <span class="text-blueGray-500 bg-blueGray-100 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Have you seen us?</span>
                   <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">Some of Our Pricing Plans</h2>
                   <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">The time is now for it to be okay to be great. People in this world shun people for being great.</p>
                </div>
             </div>
          </div>
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 relative w-full md:w-3/12">
                <div class="relative flex flex-col min-w-0 break-words w-full bg-transparent">
                   <div>
                      <div class="h-8 text-center"><span class="text-teal-500 bg-teal-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">new collection</span></div>
                      <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/tshirt5.d8f53d72.jpg" class="w-full p-6">
                   </div>
                   <div class="p-6 flex-auto text-center">
                      <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Burberry</a></h5>
                      <span class="text-blueGray-700 text-lg">$2.300</span>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-3/12">
                <div class="relative flex flex-col min-w-0 break-words w-full bg-transparent">
                   <div>
                      <div class="h-8 text-center"><span class="text-red-500 bg-red-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">On Discount</span></div>
                      <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/tshirt2.56983c49.jpg" class="w-full p-6">
                   </div>
                   <div class="p-6 flex-auto text-center">
                      <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Casablanca</a></h5>
                      <span class="text-blueGray-700 text-lg line-through mr-2">$1.179</span><span class="text-red-500 font-semibold text-lg">$999</span>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-3/12">
                <div class="relative flex flex-col min-w-0 break-words w-full bg-transparent">
                   <div>
                      <div class="h-8 text-center"></div>
                      <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/tshirt3.db592a23.jpg" class="w-full p-6">
                   </div>
                   <div class="p-6 flex-auto text-center">
                      <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Palm Angels</a></h5>
                      <span class="text-blueGray-700 text-lg">$450</span>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-3/12">
                <div class="relative flex flex-col min-w-0 break-words w-full bg-transparent">
                   <div>
                      <div class="h-8 text-center"></div>
                      <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/tshirt4.9bd30523.jpg" class="w-full p-6">
                   </div>
                   <div class="p-6 flex-auto text-center">
                      <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Saint Laurent</a></h5>
                      <span class="text-blueGray-700 text-lg">$349</span>
                   </div>
                </div>
             </div>
             <div class="mx-auto mt-12"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Load more...</button></div>
          </div>
       </div>
    </section>
 </div>