<div class="w-full">
    <div class="py-12 bg-blueGray-800 project-2">
       <div class="container mx-auto px-4">
          <div class="mb-12">
             <div class="mb-12 flex flex-wrap -mx-4 justify-center">
                <div class="px-4 relative w-full lg:w-8/12 text-center">
                   <h6 class="mb-2 text-lg font-bold uppercase text-teal-500">Have you seen us?</h6>
                   <h2 class="text-4xl font-bold mt-0 mb-1 text-white">Some of Our Awesome Projects</h2>
                   <p class="mt-2 mb-4 text-xl leading-relaxed text-white opacity-75">The time is now for it to be okay to be great. People in this world shun people for being great.</p>
                </div>
             </div>
          </div>
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-lightBlue-500 text-white"><i class="fas fa-heart block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Message from team</h4>
                      <p class="text-blueGray-500 leading-relaxed">If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try.</p>
                      <div class="text-lightBlue-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">More details...</a></div>
                   </div>
                </div>
             </div>
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-emerald-500 text-white"><i class="fas fa-book-reader block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Looking great</h4>
                      <p class="text-blueGray-500 leading-relaxed">You have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s motivating the doers.</p>
                      <div class="text-emerald-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">Check more</a></div>
                   </div>
                </div>
             </div>
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-red-500 text-white"><i class="fas fa-rocket block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Developer first</h4>
                      <p class="text-blueGray-500 leading-relaxed">For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it? I shure can!</p>
                      <div class="text-red-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">Check more</a></div>
                   </div>
                </div>
             </div>
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-blueGray-500 text-white"><i class="fas fa-heart block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Prepare launch</h4>
                      <p class="text-blueGray-500 leading-relaxed">Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out. It’s like a little kid, a little boy.</p>
                      <div class="text-blueGray-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">Check more</a></div>
                   </div>
                </div>
             </div>
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-orange-500 text-white"><i class="fas fa-book-reader block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Premium Support</h4>
                      <p class="text-blueGray-500 leading-relaxed">Pink is obviously a better color. Everyone’s born confident, and everything’s taken away from you matters is the people who are sparked by it follow their dreams, too.</p>
                      <div class="text-orange-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">Check more</a></div>
                   </div>
                </div>
             </div>
             <div class="px-4 mb-12 relative w-full md:w-4/12">
                <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 group transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:z-2">
                   <div class="-mt-6 shadow-lg rounded-full mx-auto w-16 h-16 inline-flex justify-center items-center transition-all duration-300 ease-in-out transform group-hover:scale-75 bg-teal-500 text-white"><i class="fas fa-trophy block mx-auto text-xl"></i></div>
                   <div class="pt-8 pb-16 px-10 flex-auto relative overflow-hidden">
                      <h4 class="text-2xl font-bold mt-0 mb-2">Design tools</h4>
                      <p class="text-blueGray-500 leading-relaxed">Constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams the position that we want to be.</p>
                      <div class="text-teal-500 border-blueGray-200 opacity-0 rounded-b px-4 py-4 border-t absolute bottom-0 left-0 w-full text-center flex items-center justify-center transition-all duration-300 ease-in-out transform translate-y-1/2 group-hover:translate-y-0 group-hover:opacity-100"><a href="#pablo">Check more</a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>