

{% include navbar/navbar2.html %}
{% include header/header3.html %}
{% include hero/hero5.html %}
{% include blogs/blogs1.html %}
{% include blogs/blogs2.html %}
{% include pricing/pricing1.html %}


<!--teams-->
<div class="py-12">
    <div class="pt-6">
      <div class="flex flex-wrap -mx-4 justify-center">
        <div class="px-4 relative w-full text-center">
          <span class="text-emerald-500 bg-emerald-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">testimonials</span>
          <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">They've been or not with you</h2>
          <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">It's your life, and there are a lot of people with you, but this doesn't mean that everything is ok, it can be anyhow. You stay with your friends and nothing matters anymore.</p>
        </div>
      </div>
    </div>
    {% include teams/team2.html %}
  </div>