<div class="w-full">
    <nav class="block">
       <ul class="flex pl-0 rounded list-none flex-wrap">
          <li><a href="#pablo" class="w-8 h-8 text-xs font-semibold flex mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid transition-all duration-150 ease-in-out bg-pink-500 border-pink-500 text-white hover:border-pink-700 hover:text-white hover:bg-pink-700">1</a></li>
          <li><a href="#pablo" class="w-8 h-8 text-xs font-semibold flex mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid transition-all duration-150 ease-in-out bg-transparent border-pink-500 text-pink-500 hover:border-pink-700 hover:text-pink-700">2</a></li>
          <li><a href="#pablo" class="w-8 h-8 text-xs font-semibold flex mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid transition-all duration-150 ease-in-out bg-transparent border-pink-500 text-pink-500 hover:border-pink-700 hover:text-pink-700">3</a></li>
          <li><a href="#pablo" class="w-8 h-8 text-xs font-semibold flex mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid transition-all duration-150 ease-in-out bg-transparent border-pink-500 text-pink-500 hover:border-pink-700 hover:text-pink-700">4</a></li>
          <li><a href="#pablo" class="w-8 h-8 text-xs font-semibold flex mx-1 p-0 rounded-full items-center justify-center leading-tight relative border border-solid transition-all duration-150 ease-in-out border-pink-200 text-white bg-pink-200 pointer-events-none">...</a></li>
       </ul>
    </nav>
 </div>