
<!--HEAD-->
{% include main-page/sections/first-body-components/photo.html %}
{% include main-page/sections/first-body-components/admin-dashboard.html %}



<!--COMPONENTS-->
{% include main-page/components/presentation/presentation.html %}
{% include main-page/components/admin/admin.html %}
{% include main-page/components/ecommerce/ecommerce.html %}
{% include main-page/components/blog/blog.html %}
{% include main-page/components/authentification/authentification.html %}
{% include main-page/components/misc/misc.html %}
{% include main-page/components/error/error.html %}
