<div class="relative bg-blueGray-50">
    <div class="container mx-auto px-4 pt-20">
        <section>
            <h2 class="px-4 text-3xl font-bold leading-tight mt-8 mb-2" id="presentation-id">Presentation</h2>
            <p class="px-4 w-full lg:w-7/12 text-lg text-blueGray-500 leading-relaxed mt-2 mb-4">A presentation page is defined as a page built to display information, for example information about the business, its employees, customers etc.</p>
            <div>
               <hr class="my-6 border-blueGray-200">
               <div class="flex flex-wrap">
                  <div class="w-full px-4 md:w-1/4">
                     <h2 id="presentation-id-components" class="text-lg font-normal text-blueGray-600 mb-2 sticky top-0"><span class="mr-2 opacity-75">Presentation</span><i class="fas fa-angle-right mr-2 opacity-75"></i><span class="font-semibold">Components</span></h2>
                  </div>
                  <div class="w-full px-4 md:w-3/4">
                     <div class="flex flex-wrap">
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/cards">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-cards.f3bf92e7.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Cards</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">9 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/footers">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-footers.c345423f.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Footers</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/headers">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-headers.2b8bc538.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Headers</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">3 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/info-areas">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-infoareas.fd41ca9d.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">InfoAreas</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">6 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/maps">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-maps.5f46e219.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Maps</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/media-player">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-mediaplayer.5c980280.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Media Player</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/navbars">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-navbars.4337c703.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Navbars</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/components/pre-footers">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-components-prefooters.83d5e4cc.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">PreFooters</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div>
               <hr class="my-6 border-blueGray-200">
               <div class="flex flex-wrap">
                  <div class="w-full px-4 md:w-1/4">
                     <h2 id="presentation-id-sections" class="text-lg font-normal text-blueGray-600 mb-2 sticky top-0"><span class="mr-2 opacity-75">Presentation</span><i class="fas fa-angle-right mr-2 opacity-75"></i><span class="font-semibold">Sections</span></h2>
                  </div>
                  <div class="w-full px-4 md:w-3/4">
                     <div class="flex flex-wrap">
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/sections/blogs">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-sections-blogs.97981bbc.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Blogs</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/sections/contact">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-sections-contact.80bda13f.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Contact</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">3 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/sections/hero">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-sections-hero.11f75702.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Hero</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">5 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/sections/pricing">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-sections-pricing.e6431b14.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Pricing</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/sections/teams">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-sections-teams.fb930d45.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Teams</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div>
               <hr class="my-6 border-blueGray-200">
               <div class="flex flex-wrap">
                  <div class="w-full px-4 md:w-1/4">
                     <h2 id="presentation-id-pages" class="text-lg font-normal text-blueGray-600 mb-2 sticky top-0"><span class="mr-2 opacity-75">Presentation</span><i class="fas fa-angle-right mr-2 opacity-75"></i><span class="font-semibold">Pages</span></h2>
                  </div>
                  <div class="w-full px-4 md:w-3/4">
                     <div class="flex flex-wrap">
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/pages/landing">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-pages-landing.129307ec.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Landing</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/pages/about-us">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-pages-about-us.7df8110e.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">About us</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                        <div class="w-full px-4 md:w-1/4">
                           <a href="#/components/presentation/pages/contact-us">
                              <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/presentation-pages-contact-us.7536e7d3.jpg" alt="...">
                              <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Contact us</h2>
                              <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

    </div>
</div>