<div class="w-full">
    <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
       <div class="flex flex-wrap">
          <div class="p-6 relative w-full lg:w-8/12 md:w-7/12">
             <div class="pb-4 border-b border-blueGray-300">
                <h4 class="text-xl font-bold leading-tight mt-0">Send us a message</h4>
                <p class="mt-1 text-blueGray-500">Our team will reply in 2-3 business days</p>
             </div>
             <div class="pt-6 flex-auto">
                <div class="flex flex-wrap -mx-4">
                   <div class="px-4 relative w-full  md:w-6/12  ">
                      <div class="mb-3 pt-0 relative">
                         <label class="block uppercase text-blueGray-500 text-xs font-bold mb-2 ml-1 mt-2">First name</label>
                         <div class="mb-3 pt-0"><input placeholder="First name..." type="text" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
                      </div>
                   </div>
                   <div class="px-4 relative w-full  md:w-6/12  ">
                      <div class="mb-3 pt-0 relative">
                         <label class="block uppercase text-blueGray-500 text-xs font-bold mb-2 ml-1 mt-2">Email address</label>
                         <div class="mb-3 pt-0"><input placeholder="Email address..." type="Email" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
                      </div>
                   </div>
                   <div class="px-4 relative w-full    ">
                      <div class="mb-3 pt-0 relative">
                         <label class="block uppercase text-blueGray-500 text-xs font-bold mb-2 ml-1 mt-2">Your message</label>
                         <div class="mb-3 pt-0"><textarea placeholder="Your message" rows="6" type="textarea" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></textarea></div>
                      </div>
                   </div>
                </div>
                <div class="w-full text-center md:text-right mt-2"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-lightBlue-500 border-lightBlue-500 active:bg-lightBlue-600 active:border-lightBlue-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Send Message</button></div>
             </div>
          </div>
          <div class="relative w-full lg:w-4/12 md:w-5/12">
             <div class="bg-lightBlue-500 text-lightBlue-500 text-left h-full w-full flex items-center justify-center rounded-r-none rounded-b md:rounded-b-none md:rounded-r">
                <div class="p-6">
                   <h4 class="text-2xl font-bold leading-tight text-center text-white">Other contact details</h4>
                   <p class="mt-1 text-white opacity-75 text-lg text-center">Come and visit us</p>
                   <div class="text-left w-full my-6 items-center flex items-center">
                      <div class="bg-white shadow-lg rounded-full justify-center items-center inline-flex text-center w-10 h-10"><i class="fas fa-map-marker-alt"></i></div>
                      <p class="ml-3 text-white">5th Avenue, New York</p>
                   </div>
                   <div class="text-left w-full my-6 items-center flex items-center">
                      <div class="bg-white shadow-lg rounded-full justify-center items-center inline-flex text-center w-10 h-10"><i class="fas fa-phone"></i></div>
                      <p class="ml-3 text-white">+40 (312) 563 241</p>
                   </div>
                   <div class="text-left w-full my-6 items-center flex items-center">
                      <div class="bg-white shadow-lg rounded-full justify-center items-center inline-flex text-center w-10 h-10"><i class="fas fa-envelope"></i></div>
                      <p class="ml-3 text-white">hello@creative-tim.com</p>
                   </div>
                   <div class="text-left w-full my-6 items-center flex items-center">
                      <div class="bg-white shadow-lg rounded-full justify-center items-center inline-flex text-center w-10 h-10"><i class="fas fa-headphones"></i></div>
                      <p class="ml-3 text-white">support@creative-tim.com</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>