<div class="w-full md:w-1/2 lg:w-1/3">
    <div class="shadow-lg rounded-lg bg-white relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
       <div class="p-6 flex-auto">
          <div class="bg-lightBlue-500 text-white shadow-lg rounded-full justify-center items-center mx-auto mb-6 inline-flex w-12 h-12"><i class="fas fa-check text-xl"></i></div>
          <h6 class="text-lightBlue-500 text-xl font-bold mt-0 mb-0">Download Design</h6>
          <p class="mt-2 mb-4 leading-relaxed text-blueGray-500">Because I’m here to follow my dreams and inspire other people to follow their dreams, too. That’s what I’m here for.</p>
          <button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-lightBlue-500 border-lightBlue-500 active:bg-lightBlue-600 active:border-lightBlue-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Learn more</button>
       </div>
    </div>
 </div>