<div class="w-full md:w-1/2">
    <div class="shadow-lg rounded-lg text-blueGray-500 ml-12 p-6 mt-12 mb-12 relative flex flex-col min-w-0 break-words bg-white w-full">
       <h4 class="text-xl font-bold leading-tight pb-6">Contact Us</h4>
       <div class="flex-auto">
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 relative w-full  md:w-6/12  ">
                <div class="text-center py-6">
                   <div class="text-white bg-lightBlue-500 shadow-lg rounded rounded-full justify-center items-center inline-flex text-center p-2 mb-6 w-16 h-16"><i class="fas fa-phone text-lg"></i></div>
                   <h4 class="text-xl font-bold leading-tight mt-0 mb-2">Give us a ring</h4>
                   <div class="mb-4">
                      <p class="text-blueGray-500">Alice Grace</p>
                      <p class="text-blueGray-500">+40 762 321 762</p>
                      <p class="text-blueGray-500">Mon - Fri, 8:00-17:00</p>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full  md:w-6/12  ">
                <div class="text-center py-6">
                   <div class="text-white bg-lightBlue-500 shadow-lg rounded rounded-full justify-center items-center inline-flex text-center p-2 mb-6 w-16 h-16"><i class="fas fa-map-marker-alt text-lg"></i></div>
                   <h4 class="text-xl font-bold leading-tight mt-0 mb-2">Find us at</h4>
                   <div class="mb-4">
                      <p class="text-blueGray-500">St. Michael Kog, no. 8,</p>
                      <p class="text-blueGray-500">7652 San Francisco,</p>
                      <p class="text-blueGray-500">United States</p>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full  md:w-6/12  ">
                <div class="mb-3 pt-0 relative">
                   <label class="block uppercase text-blueGray-500 text-xs font-bold mb-2 ml-1">First name</label>
                   <div class="mb-3 pt-0"><input placeholder="First name..." type="text" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
                </div>
             </div>
             <div class="px-4 relative w-full  md:w-6/12  ">
                <div class="mb-3 pt-0 relative">
                   <label class="block uppercase text-blueGray-500 text-xs font-bold mb-2 ml-1">Email address</label>
                   <div class="mb-3 pt-0"><input placeholder="Email address..." type="Email" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 "></div>
                </div>
             </div>
          </div>
          <div class="w-full text-right mt-2"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-lightBlue-500 border-lightBlue-500 active:bg-lightBlue-600 active:border-lightBlue-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Send Message</button></div>
       </div>
    </div>
 </div>