<div class="w-full lg:w-1/2">
    <div class="shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
       <div class="bg-red-500 mb-12 w-full border-0 rounded-t-lg px-5 py-3 h-140-px bg-bottom bg-cover" style="background-image: url(/assets/img/illustrations/inn.svg);">
          <div class="flex justify-center"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/face-2.33e80fee.jpg" class="rounded-full shadow-lg align-middle absolute mt-12 border-4 border-white max-w-150-px"></div>
       </div>
       <div class="px-4 py-5 flex-auto">
          <div class="flex justify-center mt-8"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-blueGray-800 border-blueGray-800 active:bg-blueGray-900 active:border-blueGray-900 text-xs px-3 py-2 shadow hover:shadow-md rounded-md">Connect</button><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-blueGray-800 border-blueGray-800 active:bg-blueGray-900 active:border-blueGray-900 text-xs px-3 py-2 shadow hover:shadow-md rounded-md">Message</button></div>
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 relative w-full">
                <div class="py-4 flex justify-center">
                   <div class="text-center mr-4 p-4"><span class="font-bold text-xl block">5,390</span><span class="text-blueGray-400">Followers</span></div>
                   <div class="text-center mr-4 p-4"><span class="font-bold text-xl block">560</span><span class="text-blueGray-400">Photos</span></div>
                   <div class="text-center mr-4 p-4"><span class="font-bold text-xl block">890</span><span class="text-blueGray-400">Projects</span></div>
                </div>
             </div>
          </div>
          <div class="text-center">
             <h3 class="text-2xl font-bold leading-tight mt-0 mb-1">Melanie Tompson</h3>
             <p class="text-lg text-blueGray-400">Beijing, China</p>
          </div>
       </div>
    </div>
 </div>