<div class="w-full lg:w-8/12">
    <div class="text-left overflow-hidden shadow-lg rounded-lg relative flex flex-col md:flex-row min-w-0 break-words bg-white w-full mb-6">
       <img alt="..." class="w-full md:w-1/2" src="https://demos.creative-tim.com/notus-pro-react/static/media/face-5.290afc74.jpg">
       <div class="w-full mt-4 flex flex-col items-center md:w-1/2 md:mt-0">
          <div class="p-10 flex-auto w-full">
             <div class="py-4">
                <div class="text-left p-0"><span class="text-blueGray-400 uppercase text-sm font-bold">Name</span><span class="font-bold block text-2xl">Tony Mark</span></div>
             </div>
             <div class="py-4">
                <div class="text-left p-0"><span class="text-blueGray-400 uppercase text-sm font-bold">Position</span><span class="font-bold block text-2xl">Project Manager</span></div>
             </div>
             <div class="py-2 flex border-t border-blueGray-200">
                <div class="text-center mr-4 pr-4 py-4"><span class="font-bold block uppercase text-lg">2,367</span><span class="text-blueGray-500">Followers</span></div>
                <div class="text-center mr-4 pr-4 py-4"><span class="font-bold block uppercase text-lg">247</span><span class="text-blueGray-500">Projects</span></div>
                <div class="text-center mr-4 pr-4 py-4"><span class="font-bold block uppercase text-lg">1,189</span><span class="text-blueGray-500">Commits</span></div>
             </div>
             <div class="py-4">
                <span class="font-bold block uppercase mb-2">Team</span>
                <div class="pl-4">
                   <div class="flex items-center">
                      <div>
                         <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-10 h-10" href="#pablo">
                            <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/face-1.dbea4a4c.jpg">
                            <div class="hidden ">
                               <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                  <div class="py-1 px-2 text-center rounded text-white bg-black">Ray Tompson</div>
                               </div>
                            </div>
                         </a>
                         <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-10 h-10" href="#pablo">
                            <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-2.b81557ef.jpg">
                            <div class="hidden ">
                               <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                  <div class="py-1 px-2 text-center rounded text-white bg-black">Romina Hadid</div>
                               </div>
                            </div>
                         </a>
                         <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-10 h-10" href="#pablo">
                            <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg">
                            <div class="hidden ">
                               <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                  <div class="py-1 px-2 text-center rounded text-white bg-black">Alexander Smith</div>
                               </div>
                            </div>
                         </a>
                         <a class="text-white bg-blueGray-500 inline-flex items-center justify-center shadow-lg rounded rounded-full relative border-2 border-white -ml-4 hover:z-1 w-10 h-10" href="#pablo">
                            <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/face-2.33e80fee.jpg">
                            <div class="hidden ">
                               <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
                                  <div class="py-1 px-2 text-center rounded text-white bg-black">Jessica Doe</div>
                               </div>
                            </div>
                         </a>
                      </div>
                      <small class="pl-2 font-bold mb-1"></small>
                   </div>
                </div>
             </div>
             <div class="w-full bg-transparent rounded-b px-4 pt-6 border-t border-blueGray-200 text-center mt-4"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-lightBlue-500 border-lightBlue-500 active:bg-lightBlue-600 active:border-lightBlue-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Follow</button></div>
          </div>
       </div>
    </div>
 </div>