
<div class="mx-auto px-4 container">
    <div class="flex justify-center my-8 flex-col">
        <h2 class="text-lg font-medium text-blueGray-600 mb-2">
            <a class="mr-2" href="#/components#presentation-id">Presentation</a>
            <i class="fas fa-angle-right mr-2"></i><a href="#/components#presentation-id-components">Components</a>
        </h2>
        <h1 class="text-3xl font-semibold">Cards</h1>
    </div>
<ul class="fixed left-auto right-0 pr-4 z-2">
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" 
    href="#presentation-id-presentation-id-components-cardinfoicon"><span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardInfoIcon</span>
    <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
   </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardblogimage">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardBlogImage</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardcontactustitle">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardContactUsTitle</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardinfoimage">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardInfoImage</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardinfofullcolor">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardInfoFullColor</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardblogfullbg">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardBlogFullBg</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardpricing">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardPricing</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
    <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardblogfullbgauthor">
        <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardBlogFullBgAuthor</span>
        <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
    </a>
      </li>
    <li class="">
        <a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-cardcontactusicons">
            <span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">CardContactUsIcons</span>
            <span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span>
        </a>
      </li>
</ul>

<div class="mb-16">
  <div class="flex flex-wrap flex-row items-center justify-between my-4">
        <div>
          <h2 class="text-xl font-bold ct-component-name-title" id="presentation-id-presentation-id-components-cardblogimage">CardBlogImage</h2>
        </div>
       <div class="inline-flex flex-wrap flex-row items-center">
          <div class="bg-blueGray-100 border border-blueGray-100 rounded-lg">
              <button class="inline-flex items-center justify-center outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase font-bold text-xs py-2 px-3 text-center rounded-lg border bg-white text-blueGray-600 border-blueGray-400">
                  <i class="fas fa-eye mr-2 text-lightBlue-600"></i>Preview</button>
              <button class="inline-flex items-center justify-center outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase font-bold text-xs py-2 px-3 text-center rounded-lg border text-blueGray-500 border-transparent">
                  <i class="fas fa-code mr-2 "></i>Code</button>
           </div>
               <div class="relative">
                  <span class="-top-8 -left-4 absolute text-white rounded-lg py-1 px-2 bg-blueGray-800 transition-all duration-200 ease-in-out transform scale-0 opacity-0 ">Copied</span>
                      <button class="group inline-flex items-center justify-center outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase font-bold text-xs py-2 px-3 text-center rounded-lg bg-white text-blueGray-600 focus:text-lightBlue-600">
                              <i class="far fa-clone transition-all duration-200 ease-in-out transform group-focus:rotate-6"></i>
                      </button>
               </div>
          </div>
   </div>

  