
<div class="p-17">
    <div class="absolute w-full h-full block left-0 top-0">

        {% include ecommerce/components/header4.html %}
        {% include ecommerce/sections-ecom/hero2.html %}
        {% include ecommerce/sections-ecom/pricing2.html %}

        <div class="mx-auto px-4 container">
        
                    {% include ecommerce/sections-ecom/blogs.html %}
                    {% include example-pages/e-commerce/products-card.html %}
                    {% include ecommerce/components/media3.html %}
                    {% include components/pre-footer/pre-footer1.html %}
            
        </div>
    </div>
</div>
