<div class="flex flex-wrap -mx-4">
    <div class="px-4 relative w-full md:w-3/12">
       <div class="relative flex flex-col min-w-0 break-words w-full bg-white shadow-lg rounded">
          <div>
             <div class="h-8 text-center"></div>
             <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/hat.e973baf6.png" class="w-full p-6">
          </div>
          <div class="p-6 flex-auto text-center">
             <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Winter Hat</a></h5>
             <span class="text-blueGray-700 text-lg">$ 99</span>
          </div>
       </div>
    </div>
    <div class="px-4 relative w-full md:w-3/12">
       <div class="relative flex flex-col min-w-0 break-words w-full bg-white shadow-lg rounded">
          <div>
             <div class="h-8 text-center"></div>
             <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/shorts.2d9699b3.png" class="w-full p-6">
          </div>
          <div class="p-6 flex-auto text-center">
             <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Gucci Shorts</a></h5>
             <span class="text-blueGray-700 text-lg line-through mr-2">$ 879</span><span class="text-red-500 font-semibold text-lg">$ 499</span>
          </div>
       </div>
    </div>
    <div class="px-4 relative w-full md:w-3/12">
       <div class="relative flex flex-col min-w-0 break-words w-full bg-white shadow-lg rounded">
          <div>
             <div class="h-8 text-center"></div>
             <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/bracelet.7a620de7.png" class="w-full p-6">
          </div>
          <div class="p-6 flex-auto text-center">
             <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Ice Bracelet</a></h5>
             <span class="text-blueGray-700 text-lg">$ 19,999</span>
          </div>
       </div>
    </div>
    <div class="px-4 relative w-full md:w-3/12">
       <div class="relative flex flex-col min-w-0 break-words w-full bg-white shadow-lg rounded">
          <div>
             <div class="h-8 text-center"></div>
             <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/bullet.f66bf624.png" class="w-full p-6">
          </div>
          <div class="p-6 flex-auto text-center">
             <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Necklace</a></h5>
             <span class="text-blueGray-700 text-lg">$ 229</span>
          </div>
       </div>
    </div>
    <div class="mx-auto mt-12"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Load more...</button></div>
 </div>