<div class="w-full">
    <div class="relative inline-flex flex-row w-full items-stretch">
       <div class="mr-2"><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-linkedin-regular border-linkedin-regular active:bg-linkedin-active active:border-linkedin-active text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-minus"></i></button></div>
       <div class="mr-2">
          <div class="mb-3 pt-0"><input type="text" class="border-blueGray-300 px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 " value="1"></div>
       </div>
       <div><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-linkedin-regular border-linkedin-regular active:bg-linkedin-active active:border-linkedin-active text-sm px-6 py-2 shadow hover:shadow-lg rounded-md"><i class="fas fa-plus"></i></button></div>
    </div>
 </div>