<div class="w-full">
    <div class="text-center">
       <input class="hidden" type="file">
       <div class="rounded-full mx-auto shadow-lg rounded max-w-100-px mb-4"><img class="rounded-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/face-1.dbea4a4c.jpg" alt="..."></div>
       <div><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-blueGray-800 border-blueGray-800 active:bg-blueGray-900 active:border-blueGray-900 text-xs px-3 py-2 shadow hover:shadow-md rounded-md">change</button><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-red-500 border-red-500 active:bg-red-600 active:border-red-600 active:text-white text-xs px-3 py-2 shadow hover:shadow-md rounded-md">remove</button></div>
    </div>
 </div>