<div class="w-full">
    <div class="relative w-full">
       <div class="flex mb-2 items-center justify-between">
          <div><span class="text-pink-500 bg-pink-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded-full px-3">Profile completion</span></div>
          <div class="text-right"><span class="text-xs font-semibold inline-block text-pink-500">80%</span></div>
       </div>
       <div class="overflow-hidden h-2 text-xs flex rounded bg-pink-200">
          <div class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500" style="width: 80%;"></div>
       </div>
    </div>
 </div>