<div class="relative bg-blueGray-50">
    <div class="container mx-auto px-4 pt-20">
        <section>
            <h2 class="px-4 text-3xl font-bold leading-tight mt-8 mb-2" id="presentation-id">Presentation</h2>
            <p class="px-4 w-full lg:w-7/12 text-lg text-blueGray-500 leading-relaxed mt-2 mb-4">A presentation page is defined as a page built to display information, for example information about the business, its employees, customers etc.</p>
            <div>
                <hr class="my-6 border-blueGray-200">
                <div class="flex flex-wrap">
                   <div class="w-full px-4 md:w-1/4">
                      <h2 id="presentation-id-components" class="text-lg font-normal text-blueGray-600 mb-2 sticky top-0"><span class="mr-2 opacity-75">Presentation</span><i class="fas fa-angle-right mr-2 opacity-75"></i><span class="font-semibold">Components</span></h2>
                   </div>
                  
                   {% include main-page/components/admin/components.html %}
                   {% include main-page/components/admin/pages.html %}

                </div>
             </div>

        </section>
    </div>
</div>