<div class="w-full px-4 md:w-3/4">
    <div class="flex flex-wrap">
       <div class="w-full px-4 md:w-1/4">
          <a href="#/components/admin/components/cards">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/admin-components-cards.21611e9a.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Cards</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">5 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="#/components/admin/components/footers">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/admin-components-footers.9df2c183.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Footers</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="#/components/admin/components/headers">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/admin-components-headers.1321ed87.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Headers</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="#/components/admin/components/navbars">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/admin-components-navbar.a813e646.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Navbars</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="#/components/admin/components/sidebars">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="/notus-pro-react/static/media/admin-components-sidebar.c500ce2f.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Sidebars</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
    </div>
 </div>