<div class="w-full">
  <div class="relative flex flex-col min-w-0 break-words w-full mb-8 shadow-lg rounded-lg bg-indigo-900">
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h6 class="uppercase mb-1 text-xs font-semibold text-blueGray-200">Overview</h6>
          <h2 class="text-xl font-semibold text-white">Sales value</h2>
        </div>
      </div>
    </div>
    <div class="p-4 flex-auto">
      <div class="relative h-350-px">
        <canvas width="738" height="218" style="display: block; box-sizing: border-box; height: 350px; width: 1180.8px;" id="chart-line"></canvas>
      </div>
    </div>
  </div>


</div>