<div class="w-full md:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
       <div class="px-6"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/ecommerce-2.366b1564.jpg" class="w-full"></div>
       <div class="px-6 py-6 flex-auto">
          <h6 class="text-sm font-bold uppercase mt-0 mb-1 text-pink-500">Trending</h6>
          <h5 class="text-2xl font-semibold mt-0 mb-2">Gucci Blazer</h5>
          <p class="text-blueGray-500 leading-relaxed">This Gucci blazer has been crafted in Italy from hard-wearing black textured-leather</p>
          <div class="flex justify-between mt-2"><span class="text-blueGray-700 text-xl mt-1">€1,990</span><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-xs px-3 py-2 shadow hover:shadow-md rounded-md"><i class="fas fa-heart"></i></button></div>
       </div>
    </div>
 </div>