<div class="w-full md:w-1/2">
    <div class="bg-white text-center shadow-lg rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
       <div class="bg-transparent first:rounded-t px-5 py-3 border-b border-blueGray-300">
          <h4 class="pt-2 text-2xl font-bold mt-0 mb-2 text-lightBlue-500">Enterprise Offer</h4>
       </div>
       <div class="lg:px-12 px-4 py-5 flex-auto">
          <div class="leading-relaxed text-blueGray-500">What colors are good, before somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly become a gay two-year-old.</div>
          <table class="mt-6 w-full mb-4 text-blueGray-700 border-collapse border border-solid border-blueGray-200">
             <tbody>
                <tr>
                   <td class="text-center p-3 border-t border">24/7 Support</td>
                   <td class="text-center p-3 border-t border">Design Tools</td>
                </tr>
                <tr>
                   <td class="text-center p-3 border-t border">10.000 emails</td>
                   <td class="text-center p-3 border-t border">Private Brand</td>
                </tr>
             </tbody>
          </table>
       </div>
       <div class="bg-transparent mt-4 py-6 bg-transparent rounded-b px-4 py-3 border-t border-blueGray-300"><a class="text-lightBlue-500" href="#pablo">Contact Us</a></div>
    </div>
 </div>