<div class="w-full md:w-1/4">
    <div class="shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 break-words bg-white w-full mb-6">
       <div class="p-6"><img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/ecommerce-1.986b18bf.jpg" class="w-full"></div>
       <div class="px-6 pb-6 flex-auto">
          <h6 class="text-red-500 font-bold uppercase text-sm mb-2"><i class="fas fa-calendar-check mr-1 opacity-75"></i> Wearing</h6>
          <h4 class="text-2xl font-semibold leading-tight mt-0 mb-2 my-4"><a href="#pablo" class="">Check our latest collection</a></h4>
          <p class="text-blueGray-500 leading-relaxed">Yesterday, this was an essential fabric and its news reader app Paper. It is design-focused wool called out...</p>
       </div>
    </div>
 </div>