<div class="w-full md:w-1/4">
    <div class="relative flex flex-col min-w-0 break-words w-full bg-transparent">
       <div>
          <div class="h-8 text-center"><span class="text-teal-500 bg-teal-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">new collection</span></div>
          <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/tshirt5.d8f53d72.jpg" class="w-full p-6">
       </div>
       <div class="p-6 flex-auto text-center">
          <h5 class="text-2xl font-bold mt-0"><a href="#pablo" class="">Burberry</a></h5>
          <span class="text-blueGray-700 text-lg">$2.300</span>
       </div>
    </div>
 </div>