<div class="w-full md:w-1/3">
   <div class="flex justify-center bg-white border-0 shadow-lg rounded-lg relative flex flex-col min-w-0 break-words w-full mb-6">
      <div class="bg-blueGray-200 rounded-t-lg">
         <div class="my-4 mb-3 px-3 relative">
            <div class="relative flex w-full flex-wrap items-stretch mb-3"><span class="z-10 h-full flex absolute text-center text-blueGray-300 text-sm items-center w-8 pl-3"><i class="fas fa-search"></i></span><input placeholder="Search contact" class="border-transparent shadow px-3 py-2 text-sm  w-full placeholder-blueGray-200 text-blueGray-700 relative bg-white rounded-md outline-none focus:ring focus:ring-lightBlue-500 focus:ring-1 focus:border-lightBlue-500 border border-solid transition duration-200 pl-10 "></div>
         </div>
      </div>
      <div class="mt-4 flex pl-0 mb-3 flex-col">
         <div class="mx-4 rounded-md relative block my-1 bg-blueGray-800 text-white">
            <a href="#pablo">
               <div class="flex items-center p-3">
                  <img src="https://demos.creative-tim.com/notus-pro-react/static/media/christian.5e3b567c.jpg" class="rounded-full max-w-40-px" alt="...">
                  <div class="flex-1">
                     <div class="justify-between items-center">
                        <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Charlie Watson</h6>
                        <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-200">Online<span class="p-1 mt-2 ml-2 text-xs font-semibold inline-block uppercase last:mr-0 mr-1 p-1 rounded bg-emerald-400"></span></p>
                        <div class="pl-3"><span class="block truncate text-blueGray-100">Typing...</span></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="mx-4 rounded-md relative block my-1 bg-blueGray-200 text-blueGray-800">
            <a href="#pablo">
               <div class="flex items-center p-3">
                  <img src="https://demos.creative-tim.com/notus-pro-react/static/media/team-2.b81557ef.jpg" class="rounded-full max-w-40-px" alt="...">
                  <div class="flex-1">
                     <div class="justify-between items-center">
                        <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Jane Doe</h6>
                        <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-500">Online<span class="p-1 mt-2 ml-2 text-xs font-semibold inline-block uppercase last:mr-0 mr-1 p-1 rounded bg-emerald-400"></span></p>
                        <div class="pl-3"><span class="block truncate text-blueGray-500">Computer users and programmers</span></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="mx-4 rounded-md relative block my-1 bg-blueGray-200 text-blueGray-800">
            <a href="#pablo">
               <div class="flex items-center p-3">
                  <img src="https://demos.creative-tim.com/notus-pro-react/static/media/team-3.c5d0c11c.jpg" class="rounded-full max-w-40-px" alt="...">
                  <div class="flex-1">
                     <div class="justify-between items-center">
                        <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Mila Skylar</h6>
                        <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-500">23 min ago</p>
                        <div class="pl-3"><span class="block truncate text-blueGray-500">You can subscribe to receive weekly...</span></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="mx-4 rounded-md relative block my-1 bg-blueGray-200 text-blueGray-800">
            <a href="#pablo">
               <div class="flex items-center p-3">
                  <img src="https://demos.creative-tim.com/notus-pro-react/static/media/team-4.639c2559.jpg" class="rounded-full max-w-40-px" alt="...">
                  <div class="flex-1">
                     <div class="justify-between items-center">
                        <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Sofia Scarlett</h6>
                        <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-500">1 hour ago</p>
                        <div class="pl-3"><span class="block truncate text-blueGray-500">It’s an effective resource regardless...</span></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
         <div class="mx-4 rounded-md relative block my-1 bg-blueGray-200 text-blueGray-800">
            <a href="#pablo">
               <div class="flex items-center p-3">
                  <img src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg" class="rounded-full max-w-40-px" alt="...">
                  <div class="flex-1">
                     <div class="justify-between items-center">
                        <h6 class="text-lg font-semibold leading-normal pl-3 inline-block">Tom Klein</h6>
                        <p class="text-blueGray-200 uppercase font-bold text-xs inline-block float-right text-blueGray-500">Offline<span class="p-1 mt-2 ml-2 text-xs font-semibold inline-block uppercase last:mr-0 mr-1 p-1 rounded bg-red-500"></span></p>
                        <div class="pl-3"><span class="block truncate text-blueGray-500">Be sure to check it out if your dev pro...</span></div>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>