<div class="w-full">
    <div class="p-0 flex items-center overflow-hidden relative min-h-screen-75">
       <div class="absolute w-full h-full bg-cover bg-50 z-2" style="background-image: url(/assets/img/illustrations/bg-presentation.png);"></div>
       <div class="absolute w-full h-full bg-blueGray-900 z-1"></div>
       <div class="container mx-auto px-4 z-3 pt-20 relative w-6/12">
          <div class="justify-center flex flex-wrap -mx-4 text-center">
             <h1 class="text-5xl font-bold text-white leading-tight mt-0 mb-24">Our tools help you save 3 weeks of development...</h1>
          </div>
       </div>
       <div class="w-full absolute text-white bottom-0 z-3">
          <div class="w-full pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px);">
             <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
             </svg>
          </div>
       </div>
    </div>
    <div class="container mx-auto px-4 z-3 -mt-64 pt-20 relative w-8/12">
       <div class="justify-center flex flex-wrap -mx-4">
          <div class="bg-white rounded-lg shadow-lg">
             <div class="text-center -mt-6">
                <div class="bg-emerald-500 rounded-full h-16 w-16 inline-flex items-center justify-center"><i class="text-xl text-white fas fa-rocket"></i></div>
             </div>
             <p class="pt-6 pb-12 px-12 text-lg leading-relaxed text-center">We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.</p>
          </div>
       </div>
    </div>
 </div>