<div class="w-full">
    <div class="relative">
       <div class="relative w-full overflow-hidden">
          <div class="w-full p-12 transform duration-500 transition-all ease-in-out mx-auto block"><img alt="..." src="/assets/img/pages/shirt.png" class="w-full h-auto mx-auto"></div>
          <div class="w-full p-12 transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="/assets/img/pages/shorts.png" class="w-full h-auto mx-auto"></div>
          <div class="w-full p-12 transform duration-500 transition-all ease-in-out mx-auto hidden"><img alt="..." src="/assets/img/pages/tshirt.png" class="w-full h-auto mx-auto"></div>
       </div>
       <a href="#pablo" class="absolute z-1 top-0 bottom-0 flex items-center justify-center w-1/6 text-white text-center opacity-75 hover:opacity-100 transition-opacity duration-150 ease-linear left-0"><i class="text-sm bg-orange-500 rounded-full fas fa-chevron-left flex items-center justify-center w-8 h-8"></i><span class="sr-only">Previous</span></a><a href="#pablo" class="absolute z-1 top-0 bottom-0 flex items-center justify-center w-1/6 text-white text-center opacity-75 hover:opacity-100 transition-opacity duration-150 ease-linear right-0"><i class="text-sm bg-orange-500 rounded-full fas fa-chevron-right flex items-center justify-center w-8 h-8"></i><span class="sr-only">Next</span></a>
    </div>
 </div>