<div class="w-full">
    <div class="rounded text-left p-6 flex items-start">
       <div class="bg-white rounded-full justify-center items-center inline-flex text-center w-12 h-12 text-blueGray-700"><i class="fas fa-place-of-worship"></i></div>
       <div class="ml-6 flex-1">
          <h4 class="text-white text-2xl font-semibold leading-tight mt-2 mb-2">Connect with founders</h4>
          <p class="text-white opacity-60">As we live, our hearts turn colder. Cause pain is what we go through as we become older and we get insulted</p>
       </div>
    </div>
 </div>