
<div class="relative bg-blueGray-50">
    <div class="container mx-auto px-4 pt-20">
        <section>
            <h2 class="px-4 text-3xl font-bold leading-tight mt-8 mb-2" id="authentication-id">Authentication</h2>
            <p class="px-4 w-full lg:w-7/12 text-lg text-blueGray-500 leading-relaxed mt-2 mb-4">Authentication is the act of proving an assertion, such as the identity of a computer system user.</p> <div>
                <hr class="my-6 border-blueGray-200">
                <div class="flex flex-wrap">
                   
                   {% include main-page/components/authentification/components.html %}
                   {% include main-page/components/authentification/pages.html %}

                </div>
             </div>

        </section>
    </div>
</div>