<div class="w-full">
  <div class="py-12">
    <div class="flex flex-wrap -mx-4 justify-center">
      <div class="px-4 relative w-full text-center">
        <span class="text-pink-500 bg-pink-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded-full px-3">Fight hard</span>
        <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">It's time to know</h2>
        <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">Go and show them how strong you are. Leave them with their jaws to the ground, and hit them so that they faint on the ropes. Since you've got talent, you have to wear a crown.</p>
      </div>
    </div>
    <div class="items-center flex flex-wrap -mx-4">
      <div class="text-left px-4 relative w-full lg:w-4/12">
        <div class="text-lightBlue-500 border-lightBlue-500 shadow-lg rounded-full justify-center items-center inline-flex text-center mb-2 bg-white w-16 h-16"><i class="fas fa-cog text-1625"></i></div>
        <h6 class="text-xl font-semibold leading-tight mb-2 mt-6">Social Conversation</h6>
        <p class="mb-2 text-blueGray-400">We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
        <a class="text-lightBlue-500" href="#pablo">More about us <i class="ml-1 fas fa-angle-right"></i></a>
      </div>
      <div class="text-left px-4 relative w-full lg:w-4/12">
        <div class="text-emerald-500 border-emerald-500 shadow-lg rounded-full justify-center items-center inline-flex text-center mb-2 bg-white w-16 h-16"><i class="fas fa-atom text-1625"></i></div>
        <h6 class="text-xl font-semibold leading-tight mb-2 mt-6">Analyze Performance</h6>
        <p class="mb-2 text-blueGray-400">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
        <a class="text-lightBlue-500" href="#pablo">Learn about our products <i class="ml-1 fas fa-angle-right"></i></a>
      </div>
      <div class="text-left px-4 relative w-full lg:w-4/12">
        <div class="text-orange-500 border-orange-500 shadow-lg rounded-full justify-center items-center inline-flex text-center mb-2 bg-white w-16 h-16"><i class="fas fa-globe-europe text-1625"></i></div>
        <h6 class="text-xl font-semibold leading-tight mb-2 mt-6">Measure Conversions</h6>
        <p class="mb-2 text-blueGray-400">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
        <a class="text-lightBlue-500" href="#pablo">Check our documentation <i class="ml-1 fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>