<div class="w-full px-4 md:w-3/4">
    <div class="flex flex-wrap">
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/cards.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-cards.f3bf92e7.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Cards</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">9 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/footer.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-footers.c345423f.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Footers</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/header.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-headers.2b8bc538.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Headers</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">3 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/info-area.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-infoareas.fd41ca9d.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">InfoAreas</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">6 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/map.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-maps.5f46e219.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Maps</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/media.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-mediaplayer.5c980280.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Media Player</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/navbar.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-navbars.4337c703.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">Navbars</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">2 components/examples</p>
          </a>
       </div>
       <div class="w-full px-4 md:w-1/4">
          <a href="../../../remake-notus-pro/presentation/components/pre-footer.html">
             <img class="w-full rounded-lg shadow-md mb-3 transform transition duration-200 ease-out hover:scale-105 hover:shadow-lg" src="https://demos.creative-tim.com/notus-pro-react/static/media/presentation-components-prefooters.83d5e4cc.jpg" alt="...">
             <h2 class="ml-2 text-base font-medium leading-normal mt-0 mb-0 text-blueGray-700">PreFooters</h2>
             <p class=" ml-2 text-base font-normal leading-tight mt-0 mb-8 text-blueGray-500">1 component/example</p>
          </a>
       </div>
    </div>
 </div>
