<div class="w-full">
    <div class="flex flex-wrap -mx-4 justify-center">
       <div class="px-4 relative w-full text-center">
          <span class="text-indigo-500 bg-indigo-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Comic books</span>
          <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">Why you should start reading them</h2>
          <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">First, I was afraid, you could actually say I was petrified about them. I kept thinking, how could I do this to myself, how could I make myself read them.</p>
       </div>
    </div>
 </div>