<div class="w-full">
    <div class="mb-12 flex flex-wrap -mx-4 justify-start">
       <div class="px-4 relative w-full lg:w-8/12 text-left">
          <h6 class="mb-2 font-bold uppercase text-pink-500">Autobots vs Decepticons</h6>
          <h3 class="text-3xl font-bold mt-3 mb-1 text-blueGray-700">You may need an Autobot in your life</h3>
          <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">I always felt like I could be a Decepticon. Like their name's saying, they are good at deception. But then, I thought they are bad, and maybe I would be better as an Autobot instead.</p>
       </div>
    </div>
 </div>