<div class="w-full">
    <div class="mb-12 flex flex-wrap -mx-4 justify-center">
       <div class="px-4 relative w-full lg:w-8/12 text-center">
          <h6 class="mb-2 text-lg font-bold uppercase text-emerald-500">Marvel vs DC comics</h6>
          <h2 class="text-4xl font-bold mt-0 mb-1 text-blueGray-700">An old question from the ages</h2>
          <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">I don't know which question is harder 'Marvel or DC comics, which one is better?', or 'Which one was first, the egg, or the chicken?'. Maybe we'll never find out!</p>
       </div>
    </div>
 </div>