<div class="w-full">
    <div class="mb-12 flex flex-wrap -mx-4 justify-start">
       <div class="px-4 relative w-full lg:w-8/12 text-left">
          <span class="text-teal-500 bg-teal-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Transformers</span>
          <h3 class="text-3xl font-bold mt-3 mb-1 text-blueGray-700">Is you car a Transformer?</h3>
          <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-500">This question has been daunting me for ages. What if my new Bugatti that I have woken up in, is actually a Transformer, and what should I do in this case?</p>
       </div>
    </div>
 </div>