<div class="w-full">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
       <div class="bg-transparent first:rounded-t px-5 py-3 border-b border-blueGray-300">The CardHeader is great for a small description of the below details</div>
       <div class="px-4 py-5 flex-auto">And here you would add your main content</div>
       <div class="bg-transparent rounded-b px-5 py-3 border-t border-blueGray-300">This is your card footer content</div>
    </div>
 </div>