
    <div class="w-full">
      <div class="text-center py-6">
        <div
          class="
            text-white
            bg-lightBlue-500
            shadow-lg
            rounded rounded-full
            justify-center
            items-center
            inline-flex
            text-center
            p-2
            mb-6
            w-16
            h-16
          "
        >
          <i class="fas fa-map-marker-alt text-lg"></i>
        </div>
        <h4 class="text-xl font-bold leading-tight mt-0 mb-2">Address</h4>
        <div class="mb-4">
          <p class="text-blueGray-500">12124 First Street, nr 54</p>
        </div>
      </div>
    </div>


