<div class="w-full">
  <div class="px-6">
    <img alt="..." src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1-800x800.fa5a7ac2.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px">
    <div class="pt-6 text-center">
      <h5 class="text-xl font-bold">Ryan Tompson</h5>
      <p class="mt-1 text-sm text-blueGray-400 uppercase font-bold">Web Developer</p>
      <div class="mt-6"><a href="#pablo" target="_blank" type="button" class="bg-lightBlue-400 inline-flex items-center justify-center text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"><i class="fab fa-twitter"></i></a><a href="#pablo" target="_blank" type="button" class="bg-lightBlue-500 inline-flex items-center justify-center text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"><i class="fab fa-facebook"></i></a><a href="#pablo" target="_blank" type="button" class="bg-pink-500 inline-flex items-center justify-center text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"><i class="fab fa-dribbble"></i></a></div>
    </div>
  </div>
</div>