
        <div class="w-full md:w-1/2">
            <div class="overflow-hidden mb-12 rounded-lg relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded h-550-px transition-all duration-150 ease-in-out hover:transform hover:scale-110 group">
                <div class="absolute rounded-lg w-full h-full bg-50-center bg-cover transition-all duration-1000 ease-in-out group-hover:transform group-hover:scale-110" style="background-image: url(../../assets/img/sections/unsplashs.jpg); backface-visibility: hidden;">
            </div>
            <div class="absolute rounded-lg w-full h-full bg-black opacity-50">

            </div>
            <div class="p-10 flex h-full items-end z-1">
                <div><h1 class="text-4xl font-semibold mt-0 mb-2 text-white">Miami Vice</h1><p class="text-white opacity-75 text-lg">The simplest visual description uses ordinary words to convey what the writer sees. First he or she must look at the subject – slowly, carefully, and repeatedly, if possible – to identify the parts that make the whole</p>
                    <div class="py-4 mb-3 flex items-start"><a href="#pablo" class="flex items-center"><img src="../../assets/img/team-1-800x800.jpg" class="rounded-full mr-4" alt="..." style="max-width: 40px;">
                        <div class="flex-1">
                            <div class="justify-between items-center"><h6 class="text-sm uppercase mb-2 mt-2 text-white font-semibold">by Martin Jay</h6>
                            </div>
                        </div>
                    </a>
                </div><button class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-red-500 border-red-500 active:bg-red-600 active:border-red-600 text-sm px-6 py-2 shadow hover:shadow-lg rounded-md">Read more...</button>
            </div>
        </div>
    </div>
 </div>
