<div class="w-full">
    <div class="mb-12 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
       <div class="items-center flex flex-wrap -mx-4">
          <div class="px-4 relative w-full lg:w-4/12"><img src="https://demos.creative-tim.com/notus-pro-react/static/media/city-1.501c0bb7.jpg" class="w-full rounded-lg rounded-r-none" alt="..."></div>
          <div class="px-4 relative w-full lg:w-8/12">
             <div class="lg:pl-0 px-4 py-5 flex-auto">
                <h3 class="text-3xl font-semibold text-blueGray-700 leading-tight"><a href="#pablo">Portofino one of the best for remote working</a></h3>
                <p class="mt-3 text-lg leading-relaxed text-blueGray-500"><span class="mr-2">Finding temporary housing should be as easy as renting an Airbnb. That’s the idea behind Portofino, which raised $65 million to expand its pet sitting businesses. This come as the right move for the investment while the planet is moving on work from home...</span><a href="#pablo" class="text-lightBlue-500">Read More</a></p>
                <div class="mt-6">
                   <a href="#pablo" class="inline-flex items-center">
                      <img src="https://demos.creative-tim.com/notus-pro-react/static/media/face-1.dbea4a4c.jpg" class="rounded-full mr-4 w-12 h-12" alt="...">
                      <div class="flex-1">
                         <div class="justify-between items-center">
                            <h6 class="text-md font-bold uppercase mt-0 mb-0 text-blueGray-500">Laura Hanks</h6>
                            <small class="text-sm text-blueGray-500 mt-0">Published 4 days ago</small>
                         </div>
                      </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>