<div class="w-full md:w-1/4">
    <a href="#pablo" class="w-full px-6 py-6 text-sm px-6 py-3 shadow hover:shadow-lg rounded-lg outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold block text-white bg-linkedin-regular border-linkedin-regular active:bg-linkedin-active active:border-linkedin-active">
       <i class="my-4 text-2xl fab fa-twitter"></i>
       <h2 class="text-5xl leading-normal font-bold lowercase mt-2">linkedin</h2>
       <p><small class="uppercase">@creativetim</small></p>
    </a>
 </div>