<div class="w-full">
    <div class="relative section min-h-screen-75 flex items-center bg-cover" style="background-image: url(/assets/img/sections/nathan-dumlao.jpg);">
       <div class="absolute w-full h-full bg-black opacity-75"></div>
       <div class="flex items-center justify-center container mx-auto px-4 h-full">
          <div class="flex flex-wrap -mx-4">
             <div class="text-center mx-auto px-4 relative w-full lg:w-7/12">
                <h1 class="text-4xl font-bold leading-tight mt-0 mb-6 text-white">A Place for Entrepreneurs to Share and Discover New Stories</h1>
                <a href="#pablo" target="_blank" class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-xs px-3 py-2 shadow hover:shadow-md rounded-md"><i class="fab fa-twitter"></i></a><a href="#pablo" target="_blank" class="inline-block outline-none focus:outline-none align-middle transition-all duration-150 ease-in-out uppercase border border-solid font-bold last:mr-0 mr-2  text-white bg-pink-500 border-pink-500 active:bg-pink-600 active:border-pink-600 text-xs px-3 py-2 shadow hover:shadow-md rounded-md"><i class="fab fa-instagram"></i></a>
             </div>
          </div>
       </div>
       <div class="w-full absolute text-white bottom-0 z-1">
          <div class="w-full pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px);">
             <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
             </svg>
          </div>
       </div>
    </div>
 </div>