<div class="w-full">
    <div class="p-0 flex items-center relative min-h-screen-75">
       <div class="absolute w-full h-full bg-cover bg-50 z-1" style="background-image: url(/assets/img/sections/photo-1.jpg);"></div>
       <div class="absolute w-full h-full bg-black opacity-40 z-2"></div>
       <div class="container mx-auto px-4 z-3">
          <div class="justify-center text-white flex flex-wrap -mx-4">
             <h1 class="text-4xl font-bold leading-tight mt-0 mb-2 mb-12">Miami Beach is looking different at night!</h1>
          </div>
       </div>
    </div>
    <div class="container mx-auto px-4 z-3 -mt-64 pt-20 relative">
       <div class="justify-center text-white flex flex-wrap -mx-4">
          <div class="bg-blueGray-800 rounded-lg shadow-lg">
             <div class="text-center -mt-6">
                <div class="bg-lightBlue-500 rounded-full text-white w-16 h-16 inline-flex items-center justify-center -mt-2"><i class="p-1 text-xl far fa-newspaper"></i></div>
             </div>
             <blockquote class="text-xl mx-0 mt-0 mb-4 block text-center mt-6">
                <small class="font-light">posted 18 Sept 2021</small>
                <footer class="text-base block text-blueGray-500"><span class="mr-2">'Started from the bottom now we here'</span><cite title="Source Title">- Mark Jonson</cite></footer>
             </blockquote>
             <p class="mb-0 pt-6 pb-12 px-12 leading-relaxed text-center">As a result of growing emeraldhouse gas emissions, climate models predict that our planet will get significantly warmer, that ecosystems will be changed or destroyed, and that enormous human and economic costs will be incurred. These scenarios aren’t guaranteed, but avoiding them will be very hard. We’re trying to take small steps to mitigate our impact.</p>
          </div>
       </div>
    </div>
 </div>