---
layout: base
---

<!--Nav-->
{% include nav.html %}

<!--Sections-->

<div class="bg-white min-h-screen">
    <div class="flex flex-raw pt-20 justify-center"></div>
    <div class="mx-auto px-4 container">
        <div class="flex justify-center my-8 flex-col">
            <h2 class="text-lg font-medium text-blueGray-600 mb-2"><a class="mr-2" href="#/components#presentation-id">Presentation</a><i class="fas fa-angle-right mr-2"></i><a href="#/components#presentation-id-components">Components</a></h2>
            <h1 class="text-3xl font-semibold">PreFooters</h1></div>
            
            <ul class="fixed left-auto right-0 pr-4 z-2"><li class=""><a class="transition-all duration-300 text-xs rounded-full px-2 py-1 group hover:bg-indigo-400 font-extrabold flex flex-row items-center justify-end" href="#presentation-id-presentation-id-components-prefooterlarge"><span class="text-white mr-2 opacity-0 group-hover:opacity-100 transition-all duration-300">PreFooterLarge</span><span class="transition-all duration-300 group-hover:bg-white bg-indigo-700 block w-2 h-2 rounded-full"></span></a></li></ul>
           
            {% include sections/sections-page/p/section-pricing.html %}
       
</div>
</div>