

<div class="px-4 py-5 flex-auto ct-docs-frame">
    <div class="relative flex flex-wrap justify-center ">
        <div class="w-full"><div class="py-12">
            <div class="flex flex-wrap -mx-4 justify-center">
                <div class="px-4 relative w-full text-center">
                    <span class="text-pink-500 bg-pink-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Lost angels</span>
                    <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">Why did you last so much, nobody knows</h2>
                    <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">There will come a day, when you'll fall again, and you know this, but like myself, you too have some angels that help you.</p></div></div><div class="items-center flex flex-wrap -mx-4"><div class="ml-auto text-left mt-6 px-4 relative w-full lg:w-4/12">
                        <div class="shadow-lg rounded border-0 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg text-white bg-blueGray-500">
                            <img class="w-full flex-shrink-0 rounded-t-lg" src="/assets/img/img-1.jpg" alt="...">
                            <blockquote class="p-6 relative mb-4">
                                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="block w-full absolute text-blueGray-700 h-95-px -top-94-px left-0">
                                    <polygon points="0,52 583,95 0,95" class="text-blueGray-500 fill-current"></polygon>
                                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="text-blueGray-500 fill-current"></polygon></svg>
                                    <h4 class="text-2xl font-semibold mt-0 text-white">Notus Design System</h4>
                                    <p class="text-white mt-2">That’s my skill, I like to create things that last many years. I’m not really specifically talented at anything except for the ability to learn. That's it, see you at top...</p></blockquote></div></div>
                                    <div class="mr-auto px-4 relative w-full lg:w-7/12"><div class="flex flex-wrap -mx-4">
                                        <div class="px-4 relative w-full md:w-6/12">
                                        <div class="bg-orange-500 mt-8 rounded-lg text-left p-6 flex items-start"><div class="flex-1">
                                            <div class="text-orange-500 bg-white shadow-lg rounded rounded-full justify-center items-center text-center p-2 mx-auto mb-5 inline-flex w-12 h-12">
                                                <i class="fas fa-smile-beam text-xl"></i></div><h4 class="text-2xl font-semibold leading-normal text-white">Best Quality</h4><p class="mt-2 text-white">It becomes harder for us to give others a hand. We get our heart broken by people we love.</p></div></div></div>
                                                <div class="px-4 relative w-full md:w-6/12">
                                                    <div class="bg-lightBlue-500 mt-8 rounded-lg text-left p-6 flex items-start"><div class="flex-1">
                                                    <div class="text-lightBlue-500 bg-white shadow-lg rounded rounded-full justify-center items-center text-center p-2 mx-auto mb-5 inline-flex w-12 h-12">
                                                        <i class="fas fa-palette text-xl"></i></div><h4 class="text-2xl font-semibold leading-normal text-white">Awesome Design</h4>
                                                        <p class="mt-2 text-white">As we live, our hearts turn colder. Cause pain is what we go through as we become older.</p></div></div></div></div>
                                                        <div class="flex flex-wrap -mx-4"><div class="px-4 relative w-full md:w-6/12">
                                                            <div class="bg-red-500 mt-8 rounded-lg text-left p-6 flex items-start">
                                                            <div class="flex-1"><div class="text-red-500 bg-white shadow-lg rounded rounded-full justify-center items-center text-center p-2 mx-auto mb-5 inline-flex w-12 h-12"><i class="fas fa-running text-xl"></i></div>
                                                            <h4 class="text-2xl font-semibold leading-normal text-white">Fast Development</h4>
                                                            <p class="mt-2 text-white">We’re not always in the position that we want to be at. We’re constantly growing.</p></div></div></div>
                                                            <div class="px-4 relative w-full md:w-6/12"><div class="bg-emerald-500 mt-8 rounded-lg text-left p-6 flex items-start">
                                                                <div class="flex-1">
                                                                <div class="text-emerald-500 bg-white shadow-lg rounded rounded-full justify-center items-center text-center p-2 mx-auto mb-5 inline-flex w-12 h-12">
                                                                    <i class="fas fa-glasses text-xl"></i></div><h4 class="text-2xl font-semibold leading-normal text-white">Super Fresh</h4>
                                                                    <p class="mt-2 text-white">When we lose family over time. What else could rust the heart more over time? Blackgold.</p></div></div></div></div></div></div></div></div></div>

</div>