<div class="relative flex flex-wrap justify-center ">
    <div class="w-full"><section class="pb-20 bg-blueGray-100">
        <div class="container mx-auto px-4"><div class="pt-6">
            <div class="mb-12 flex flex-wrap -mx-4 justify-center">
                <div class="px-4 relative w-full lg:w-8/12 text-center">
                    <h6 class="mb-2 font-bold uppercase text-lightBlue-500">with burned soles</h6>
                    <h3 class="text-3xl font-bold mt-3 mb-1 text-blueGray-700">I've risen with the soles burned</h3>
                    <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">I've fought hard to get out of the hole I was in. I've dusted myself, and exactly like a dancer, I have danced with the fear, you should have filmed me.</p></div></div></div><div class="flex flex-wrap"><div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center"><div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"><div class="px-4 py-5 flex-auto"><div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gradient-to-b from-red-400 to-red-600 bg-red-400"><i class="fas fa-award"></i>
                    </div><h6 class="text-xl font-semibold">Awarded Agency</h6>
                    <p class="mt-2 mb-4 text-blueGray-400">Divide details about your product or agency work into parts. A paragraph describing a feature will be enough.</p></div></div></div>
                    
                    <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                            <div class="px-4 py-5 flex-auto">
                                <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gradient-to-b from-lightBlue-400 to-lightBlue-600 bg-lightBlue-400">
                                    <i class="fas fa-retweet"></i></div><h6 class="text-xl font-semibold">Free Revisions</h6>
                                    <p class="mt-2 mb-4 text-blueGray-400">Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious.</p></div></div></div>
                                    <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center"><div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                                        <div class="px-4 py-5 flex-auto">
                                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gradient-to-b from-emerald-400 to-emerald-600 bg-emerald-400">
                                                <i class="fas fa-fingerprint"></i></div><h6 class="text-xl font-semibold">Verified Company</h6>
                                                <p class="mt-2 mb-4 text-blueGray-400">Write a few lines about each one. A paragraph describing a feature will be enough. Keep you user engaged!</p></div></div></div></div>
                                                
                                                <div class="flex flex-wrap items-center mt-32">
                                                    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                                                        <div class="text-blueGray-500 bg-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full">
                                                            <i class="fas fa-user-friends text-xl"></i></div><h3 class="text-3xl mb-2 font-semibold leading-normal">Working with us is a pleasure</h3>
                                                            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-700">Don't let your users guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
                                                            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-700">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. Just make sure you enable them first via JavaScript.</p><a class="font-bold text-blueGray-800 mt-8" href="#/">Check Notus PRO React!</a></div>
                                                            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                                                                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-lightBlue-500">
                                                                    <img alt="..." src="/assets/img/broofoac.jpg" class="w-full align-middle rounded-t-lg">
                                                                    <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block h-95-px -top-94-px">
                                                                        <polygon points="-30,95 583,95 583,65" class="text-lightBlue-500 fill-current"></polygon></svg><h4 class="text-xl font-bold text-white">Top Notch Services</h4>
                                                                        <p class="text-md font-light mt-2 text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
                                                                    </blockquote></div></div></div></div></section></div>
                                                                </div>