<div class="w-full">
  <section class="relative block">
    <div class="w-full pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px);">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="bg-blueGray-900 py-24">
      <div class="container mx-auto px-4">
        <div class="mb-12 flex flex-wrap -mx-4 justify-center">
          <div class="px-4 relative w-full lg:w-8/12 text-center">
            <h6 class="mb-2 font-bold uppercase text-blueGray-200">On the coastline</h6>
            <h3 class="text-3xl font-bold mt-3 mb-1 text-white">We are missing the summer</h3>
            <p class="mt-2 mb-4 text-xl leading-relaxed text-white opacity-75">We're waiting for the weather to warm up so that we can go to the coastline. We really miss the summertime, our second home the coastline.</p>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div class="text-blueGray-900 bg-white p-3 w-12 h-12 shadow-lg rounded-full inline-flex items-center justify-center"><i class="fas fa-medal text-xl"></i></div>
            <h6 class="text-white text-xl mt-5 font-semibold">Excelent Services</h6>
            <p class="text-blueGray-500 mt-2 mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div class="text-blueGray-900 bg-white p-3 w-12 h-12 shadow-lg rounded-full inline-flex items-center justify-center"><i class="fas fa-poll text-xl"></i></div>
            <h6 class="text-white text-xl mt-5 font-semibold">Grow your market</h6>
            <p class="text-blueGray-500 mt-2 mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <div class="text-blueGray-900 bg-white p-3 w-12 h-12 shadow-lg rounded-full inline-flex items-center justify-center"><i class="fas fa-lightbulb text-xl"></i></div>
            <h6 class="text-white text-xl mt-5 font-semibold">Launch time</h6>
            <p class="text-blueGray-500 mt-2 mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>