<div class="w-full">
    <section class="relative py-12 section">
       <div class="container mx-auto px-4">
          <div class="flex flex-wrap -mx-4 justify-center">
             <div class="px-4 relative w-full text-center">
                <span class="text-red-500 bg-red-200 text-xs font-bold inline-block py-1 uppercase uppercase last:mr-0 mr-1 leading-tight rounded px-2">Our articles</span>
                <h2 class="text-4xl font-bold mt-3 mb-1 text-blueGray-700">Because it's about motivating the doers</h2>
                <p class="mt-2 mb-4 text-xl leading-relaxed text-blueGray-400">Am I some sort of a maniac? Probably, since I like to throw money at my car. I've already got 260 HP, all rivals look at me.</p>
             </div>
          </div>
          <div class="flex flex-wrap -mx-4">
             <div class="px-4 relative w-full md:w-4/12">
                <div class="bg-blueGray-800 text-white shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 w-full mb-6">
                   <img alt="..." src="/assets/img/illustrations/p7.svg" class="w-full" style="margin-top: -45%;">
                   <div class="px-4 py-5 flex-auto">
                      <h4 class="text-3xl mt-0 mb-2 my-4 font-bold">Bussiness Case</h4>
                      <p class="text-xl font-light">Society has put up so many boundaries and limitations on what’s right and wrong that it’s almost impossible...</p>
                      <a href="#pablo" class="font-semibold text-sm uppercase py-3 inline-block">Read more</a>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-4/12">
                <div class="bg-blueGray-800 text-white shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 w-full mb-6">
                   <img alt="..." src="/assets/img/illustrations/p22.png" class="w-full" style="margin-top: -45%;">
                   <div class="px-4 py-5 flex-auto">
                      <h4 class="text-3xl mt-0 mb-2 my-4 font-bold">Premium</h4>
                      <p class="text-xl font-light">Colors are good, before somebody tells you you shouldn’t like pink because that’s for girls.</p>
                      <a href="#pablo" class="font-semibold text-sm uppercase py-3 inline-block">Read more</a>
                   </div>
                </div>
             </div>
             <div class="px-4 relative w-full md:w-4/12">
                <div class="bg-blueGray-800 text-white shadow-lg rounded-lg overflow-hidden relative flex flex-col min-w-0 w-full mb-6">
                   <img alt="..." src="/assets/img/illustrations/p7.svg" class="w-full" style="margin-top: -45%;">
                   <div class="px-4 py-5 flex-auto">
                      <h4 class="text-3xl mt-0 mb-2 my-4 font-bold">Focus</h4>
                      <p class="text-xl font-light">Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people.</p>
                      <a href="#pablo" class="font-semibold text-sm uppercase py-3 inline-block">Read more</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>