<div class="w-1/4 sm:w-2/12 md:w-1/12">
    <img alt="..." class="rounded-full w-full" src="https://demos.creative-tim.com/notus-pro-react/static/media/team-1.26905a67.jpg">
    <div class="hidden " data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate(708px, -793px);">
       <div class="border-0 mb-3 block z-50 font-normal leading-normal text-sm text-left no-underline break-words rounded">
          <div class="py-1 px-2 text-center rounded text-white bg-black">Ray Tompson</div>
       </div>
    </div>
 </div>